<mat-toolbar
  color="primary"
  fxLayout.gt-lg="row"
  fxLayoutAlign="start center"
  fxLayoutGap="15px"
  >
  <span fxFlex.gt-lg="auto">Mini Trello</span>
  <mat-form-field floatLabel="never">
    <input (keydown.enter)="addList()" [(ngModel)]="listLabel" matInput placeholder="add list" type="text">
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="addList()">Add list</button>
</mat-toolbar>

<div
class="p-15"
fxLayout.gt-lg="row"
fxLayoutAlign="start start"
fxLayoutGap="15px" >

  <mat-card *ngFor="let list of lists">
    <mat-card-header fxLayoutAlign="center center">{{ list.label }}</mat-card-header>
    <mat-card-content>
      <ul>
          <li appDrag [index]="index" (switch)="switchIten($event)" [class.odd]="odd" *ngFor="let item of list.items; let odd = odd; let index = index">{{ item.content }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions
      fxLayout.gt-lg="row"
      fxLayoutAlign="start center"
      fxLayoutGap="15px">

      <mat-form-field floatLabel="never">
        <input (keydown.enter)="addItem(list) "  [(ngModel)]="itemContent" matInput placeholder="add item" type="text">
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="addItem(list)">Add item</button>
    </mat-card-actions>
  </mat-card>
</div>

